# Database
DATABASE_URL="postgresql://user:password@localhost:5432/sporttech"
POSTGRES_URL_NON_POOLING="postgresql://user:password@localhost:5432/sporttech"

# Auth
AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# OpenAI
OPENAI_API_KEY="sk-..."

# Vercel Blob Storage
BLOB_READ_WRITE_TOKEN="vercel_blob_..."
